{% extends "base.html" %}
{% block content %}
{% for item in jobs %}
<div class="col-md6 border rounded">
    <h2>{{ item.job }}</h2>
    <div>
        <p>
            <strong>Автор:</strong> {{ item.user.name }}<br>
            <strong>Дата начала:</strong> <span class="badge bg-light-blue">{{ item.start_date.strftime('%d %B %Y, %H:%M') }}</span><br>
            {% if item.end_date != None %}
            <strong>Дата окончания:</strong> <span class="badge bg-light-blue">{{ item.end_date.strftime('%d %B %Y, %H:%M') }}</span><br>
            {% endif %}
            <strong>Размер работы: </strong>{{ item.work_size }} часов<br>
            <strong> Сотрудники: </strong> {{ item.collaborators }}<br>
            <strong>Статус: </strong>{% if item.is_finished %}
            <span class="badge badge-pill badge-success">Завершено</span>{% else %}
            <span class="badge badge-pill badge-warning">В процессе{% endif %}</span>

        </p>
    </div>
    {% if current_user.is_authenticated or current_user == 1 %}
    <div>
        <button type="button" class="btn btn-outline-info" onclick="window.location.href='/jobs/{{ item.id }}'">Изменить</button>
        <button type="button" class="btn btn-outline-danger" onclick="window.location.href='/jobs/{{ item.id }}'">Удалить</button>

    </div>
    {% endif %}
</div>
{% endfor %}
<br>

<style>
    .bg-light-blue {
        background-color: #d1ecf1; /* Нежно-голубой цвет */
        color: #0c5460; /* Темный текст для контраста */
    }
    .badge-warning {
    background-color: #ffe06e; /* Светло-желтый цвет */
    color: #42453b; /* Темный текст для контраста */
    }
    .badge-success {
        background-color: #6aeb6e;
        color: #3b453b;
    }
</style>

{% endblock %}
